extends layout

block content

  h1 #{title}

  form(method='POST')
    // pug 代码中的HTML部分使用method="POST"的方法将数据发送到服务端，并且由于action是空字符串，因此也会将数据发送到与页面相同的URL也就是get方法也可用。
    div.form-group
      label(for='name') Genre:
      input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' required value=(undefined===genre ? '' : genre.name) )
      // 输入框的name属性值为name，当表单提交时，服务器端会使用req.body.name来访问输入框的值。
      // 输入框的value属性值为genre.name，当表单提交时，服务器端会使用req.body.name来访问输入框的值。required表示输入框为必填项。
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
